@import "tailwindcss/preflight";
@tailwind utilities;

html {
    width: calc(4px + 30rem);
    max-width: 600px;
    height: 600px;
    max-height: 600px;
    background-color: var(--color-bg-dark);
    overflow: hidden;
    scrollbar-width: none;
}